<div class="card">
    <h3 class="session bold">
        Situação cadastral do CPF
    </h3>
    <p class="sutil">
        Consulta na Receita Federal
    </p>

    <div class="card__content">
        
        <div class="card__content__user-icon">
           
        </div>
        <div class="card__content__user-text">
            <div><p class="sutil">Nome</p></div>
            <h5 class="session bold"> {{name}}</h5>
        </div>
        <div class="card__content__status-icon">
          
        </div>
        <div class="card__content__status-text">
            <div><p class="sutil">Situação do CPF</p></div>
            <h5 class="session bold">Regular</h5>
        </div>
    </div>

</div>